
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="../style/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="myApp" ng-controller="buscarReservas">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Turicor Grupo N°6</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vehiculosDisp.html">Consulta de Vehiculos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reservas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="reservarVehiculo.html">Efectuar Reserva</a>
                        <a class="dropdown-item" href="verReservas.html">Consultar Reservas</a>
                        <a class="dropdown-item" href="buscarReserva.html">Mis Reservas</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <h2>Consulte sus reservas mediante Codigo de Reserva </h2>
    <br />

    <form>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="dniCliente">Codigo Reserva</label>
                <input type="text" class="form-control" id="codReserva" placeholder="Su código de reserva..." ng-model="codigoReserva">
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-primary" ng-click="establecerCodigo(codigoReserva)">Consultar!</button> <br />
        </div>

        <br />

        <div class="form-row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Fecha Rva</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Vendor</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Precio Vta</th>
                        <th class="text-center">Id Veh/Ciud</th>
                        <th class="text-center">Id Ciud</th>
                        <th class="text-center">Id País</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{theReserve.CodigoReserva}}</td>
                        <td class="text-center">{{theReserve.FechaReserva | date:'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{theReserve.Cliente.Apellido + ', ' + theReserve.Cliente.Nombre}}</td>
                        <td class="text-center">{{theReserve.Vendedor.Nombre}}</td>
                        <td class="text-center">{{theReserve.Costo | currency:'$'}}</td>
                        <td class="text-center">{{theReserve.PrecioVenta | currency:'$'}}</td>
                        <td class="text-center">{{theReserve.IdVehiculoCiudad}}</td>
                        <td class="text-center">{{theReserve.IdCiudad}}</td>
                        <td class="text-center">{{theReserve.IdPais}}</td>
                        <td class="text-center">{{theReserve.Estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

</body>
</html>