<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="../style/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>

<body ng-app="myApp" ng-controller="reservarVehiculosController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Turicor Grupo N°6</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vehiculosDisp.html">Consulta de Vehiculos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reservas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="reservarVehiculo.html">Efectuar Reserva</a>
                        <a class="dropdown-item" href="verReservas.html">Consultar Reservas</a>
                        <a class="dropdown-item" href="buscarReserva.html">Mis Reservas</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <h2>Reserve un Vehículo</h2>
    <br />

    <div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFechaRetiro">Fecha de Retiro</label>
                    <input type="text" class="form-control" id="inputFechaRetiro" placeholder="AAAA-MM-DD" ng-model="fechaRetiro">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputoFechaDevolucion">Fecha Devolucion</label>
                    <input type="text" class="form-control" id="inputFechaDevolucion" placeholder="AAAA-MM-DD" ng-model="fechaDevolucion">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputLugarRetiro">Lugar Retiro</label>
                    <select id="inputLugarRetiro" class="form-control" ng-model="lugarRetiroSelected" ng-options="lugar.Nombre for lugar in lugares"></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLugarDevolucion">Lugar Devolución</label>
                    <select id="inputLugarDevolucion" class="form-control" ng-model="lugarDevolucionSelected" ng-options="lugar.Nombre for lugar in lugares"></select>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="username">Nombre(*)</label>
                    <input type="text" class="form-control" id="username" ng-model="userName">
                </div>
                <div class="form-group col-md-4">
                    <label for="userape">Apellido(*)</label>
                    <input type="text" class="form-control" id="userape" ng-model="userApe">
                </div>
                <div class="form-group col-md-4">
                    <label for="userdni">DNI(*)</label>
                    <input type="text" class="form-control" id="userdni" ng-model="userDni">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="vendor">Vendedor</label>
                    <select id="vendor" class="form-control" ng-model="vendorSelected">
                        <option selected value="1">Gonzalo</option>
                        <option value="2">Facundo Mallia</option>
                        <option value="3">Gustavo Gomez</option>
                        <option value="4">Juan Ochoa</option>
                        <option value="5">Carlos Paez</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPais">Pais</label>

                    <select id="inputState" class="form-control" ng-model="paisSelected" ng-options="pais.Nombre for pais in paises" ng-change="buscarCiudades(paisSelected.Id)"></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCiudad">Ciudad</label>
                    <select id="inputState" class="form-control" ng-model="ciudadSelected" ng-options="ciudad.Nombre for ciudad in ciudadesPais"></select>
                </div>
            </div>

            <br />
            <label>Lugar Ret: {{lugarRetiroSelected.Nombre}}</label>
            <br />
            <label>Lugar Dev: {{lugarDevolucionSelected.Nombre}}</label>
            <br />
            <label>Vendor: {{vendorSelected}}</label>
            <br />
            <label>Pais: {{paisSelected.Id}}</label>
            <br />
            <label>Ciudad {{ciudadSelected.Id}}</label>
            <br />
            <br />

            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="buscarVehiculos(ciudadSelected.Id, fechaRetiro, fechaDevolucion)">Listar Vehículos</button> <br />

                <br />
                <label>Listado de Vehículos Disponibles</label>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Modelo</th>
                            <th class="text-center">Puntaje</th>
                            <th class="text-center">Puertas</th>
                            <th class="text-center">Disponibilidad</th>
                            <th class="text-center">Precio/Día</th>
                            <th class="text-center">A/C</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Caja</th>
                            <th class="text-center">Seleccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vehiculo in vehiculos">
                            <td class="text-center">{{vehiculo.Marca | uppercase}}</td>
                            <td class="text-center">{{vehiculo.Modelo | uppercase}}</td>
                            <td class="text-center">{{vehiculo.Puntaje}}</td>
                            <td class="text-center">{{vehiculo.CantidadPuertas}}</td>
                            <td class="text-center">{{vehiculo.CantidadDisponible}}</td>
                            <td class="text-center">{{(vehiculo.PrecioPorDia)*1.2 | currency:'$'}}</td>
                            <td class="text-center">{{vehiculo.TieneAireAcon? 'SI' : 'NO'}}</td>
                            <td class="text-center">{{vehiculo.TieneDireccion? 'SI' : 'NO'}}</td>
                            <td class="text-center">{{vehiculo.TipoCambio=='A'? 'AUTOMATICA' : 'MANUAL'}}</td>
                            <td class="text-center">
                                <button type="submit" class="btn btn-primary" ng-click="reservarVehiculo(fechaRetiro, fechaDevolucion, lugarRetiroSelected, lugarDevolucionSelected,
                                    userName, userApe, userDni, vendorSelected, paisSelected, ciudadSelected, vehiculo)">
                                    Reservar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <label>Vehiculo Seleccionado: {{vehSelected}}</label>
                <br />
                <label>JSON: {{json}}</label>
                <br />
                <label>Additional Params: {{params}}</label>
                <br />

            </div>

        </form>
    </div>


</body>
</html>
