<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="../style/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="../js/app.js"></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-app="myApp" ng-controller="verReservas">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home.html">Turicor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vehiculosDisp.html">Vehiculos Disponibles <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reserva
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="reservarVehiculo.html">Reservar Vehiculo</a>
                        <a class="dropdown-item" href="verReservas.html">Reservas realizadas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="buscarReserva.html">Ver Reserva</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Consultar reservas</h1>
    <br />

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputFechaRetiro">Fecha Desde</label>
            <input type="text" class="form-control" id="inputCliente" placeholder="AAAA-MM-DD" ng-model="fechaDesde">
        </div>
        <div class="form-group col-md-4">
            <label for="inputFechaRetiro">Fecha Hasta</label>
            <input type="text" class="form-control" id="inputCliente" placeholder="AAAA-MM-DD" ng-model="fechaHasta">
        </div>
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary" ng-click="pressed = true">Cargar Vehiculos Disponibles</button> <br />
    </div>
    <div class="form-row">
        <br />
    </div>
    <div class="form-row">
        <table class="table" ng-show="pressed">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Cliente</th>
                    <th class="text-center">DNI</th>
                    <th class="text-center">Retiro</th>
                    <th class="text-center">Lugar</th>
                    <th class="text-center">Devolución</th>
                    <th class="text-center">Lugar</th>
                    <th class="text-center">ID Veh/Ciud</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rva in reservas">
                    <td class="text-center">{{rva.Cliente}}</td>
                    <td class="text-center">{{rva.Dni}}</td>
                    <td class="text-center">{{rva.FechaRetiro}}</td>
                    <td class="text-center">{{rva.LugarRetiro}}</td>
                    <td class="text-center">{{rva.FechaDev}}</td>
                    <td class="text-center">{{rva.LugarDev}}</td>
                    <td class="text-center">{{rva.IdVehCiud}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>